<div *ngIf="selectedLanguage === 'rus'">
    <div class = "middle">
        <div class = "logo_name">
            <h1>CheckMyDocs</h1>
        </div>
        <div class = "Welcome">
            <h2>Добро пожаловать в CheckMyDocs — ваш надежный <br>помощник в проверке документов!</h2>
        </div>
        <div class = "text">
            <p>В современном мире, где скорость и точность информации имеют решающее значение, подлинность<br>
            документов может определять ход личных и профессиональных взаимодействий. Наша система<br> 
            распознавания документов специально разработана для эффективной и надежной проверки подлинности<br> 
            различных типов документов<p>
        </div>
        <div class = "types">
            <p class = "types_css">PDF</p>
            <p class = "types_css">PNG</p>
            <p class = "types_css">JPG</p>
        </div>
    </div>
</div>

<div *ngIf="selectedLanguage === 'en'">
    <div class = "middle">
        <div class = "logo_name">
            <h1>CheckMyDocs</h1>
        </div>
        <div class = "Welcome">
            <h2>Welcome to CheckMyDocs — your reliable<br>assistant in document verification!</h2>
        </div>
        <div class = "text">
            <p>In today's world, where speed and accuracy of information are crucial, the authenticity<br>
            of documents can determine the course of personal and professional interactions. Our document<br> 
            document recognition system is specially designed for efficient and reliable authentication<br> 
            of various types of documents<p>
        </div>
        <div class = "types">
            <p class = "types_css">PDF</p>
            <p class = "types_css">PNG</p>
            <p class = "types_css">JPG</p>
        </div>
    </div>
</div>

<div *ngIf="selectedLanguage === 'kz'">
    <div class = "middle">
        <div class = "logo_name">
            <h1>CheckMyDocs</h1>
        </div>
        <div class = "Welcome">
            <h2>Қош келдіңіз, CheckMyDocs - сіздің сенімді <br>құжаттарды тексерудегі көмекші!</h2>
        </div>
        <div class = "text">
            <p>Ақпараттың жылдамдығы мен дәлдігі шешуші болып табылатын қазіргі әлемде,<br>
            құжаттардың шынайылығы жеке және кәсіби өзара әрекеттесу барысын анықтай алады. Біздің <br>
            құжаттарды тану жүйесі құжаттардың кез-кедген түрін тиімді және сенімді анықтау үшін арнайы әзірленген<p>
        </div>
        <div class = "types">
            <p class = "types_css">PDF</p>
            <p class = "types_css">PNG</p>
            <p class = "types_css">JPG</p>
        </div>
    </div>
</div>