@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
    height: 80vh;
    width: 97.5%;
    margin-left: 2.5%;
  }
  
  .logo_name h1 {
    margin-bottom: -20px;
    font-size: 96px; /* Add space between the logo/name and the welcome message */
    color: #63B5BD;
    margin-top: 5%;
}
  .Welcome{
    font-size: 24px;
  }
  .text{
    font-size: 16px;

  }
  .types {
    display: flex;
    justify-content: space-between; /* Spread the types evenly */
    margin-top: 20px; /* Add space between the welcome message and the types */
    font-size: 24px;
  }
  .types_css {
    border: 1px solid rgb(41, 41, 41);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 15px;
  }
  