.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .document-upload {
    margin-top: 12%;
    margin-left: 17%;
    width: 350px;
}

.document-upload p{
    color: rgb(56, 56, 56);
    margin-top: -2%;
    margin-left: 2%;
}
.document-upload button{
    background-color: white;
    color: black;
    margin-left: 3%;
    width: 130px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 22px;
    cursor: pointer;
    border: 2px solid rgb(107, 107, 107);
}
.document-upload button:hover{
    background-color: #84848444;
}
  
  .documents {
    background-color: white;
    border-radius: 5px;
    margin-top: 4%;
    border: 8px solid #63B5BD;
    margin-left: 4%;
    height: 520px;
    overflow-y: auto;
    width: 660px;
    border-radius: 25px;
  }
  
  .custom-select {
    width: 70%;
    background-color: white;
    display: flex;
    margin-top: 7%;
    margin-left: 2%;
  }
  .custom-select select{
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 11px;
    padding: 10px 20px;
    margin-left: 15%;
  }
  
  .language-select {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
  }

  .fail-details{
    background-color: white;
  }
  
  .file-input-container {
    position: relative;
    display: inline-block;
  }
  
  .custom-file-input {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .file-input-container p{
    margin-left: 115%;
    margin-top: -22%;
  }
  
  .Upload {
    padding: 5px 5px 1px 5px;
    width: 40px;
    height: 35px;
    background-color: #007bff;
    color: white;
    font-size: large;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Upload:hover {
    background-color: #0056b3;
  }
  
.rulls{
  margin-left: 8%;
  width: 90%;
}

.rulls p{
  margin-top: -2%;
}

.success-message {
  background-color: #c3e6cb; /* Зеленый цвет фона */
  color: #155724; /* Цвет текста */
  padding: 25px;
  border-radius: 16px;
  width: 70%;
  margin:auto;
  margin-top: 5%;
}
.success-message h3{
  margin-left: 10%;
  margin-top: -7%;
}

.error-message {
  background-color: #f8d7da; /* Красный цвет фона */
  color: #721c24; /* Цвет текста */
  padding: 10px;
  padding: 25px;
  border-radius: 16px;
  width: 70%;
  margin:auto;
  margin-top: 8%;
}

.error-message h3{
  margin-left: 10%;
  margin-top: -7%;
}
.expired {
  background-color: #ffeeba; /* Желтый цвет фона */
  color: #856404; /* Цвет текста */
  padding: 25px;
  border-radius: 16px;
  width: 70%;
  margin:auto;
  margin-top: 3%;
}

.expired h3{
  margin-left: 10%;
  margin-top: -10%;
}
#upload-btn{
  margin-top: -10px;
}

#upload-btn2{
  margin-top: 5px;
}