<div *ngIf="selectedLanguage === 'rus'">
    <div class="container">
        <div class="document-upload">
            <h1>Хотите проверить документ на подлинность?</h1>
            <p>Выберите формат:</p>
            <p>Выберите формат:</p>
            <button (click)="onPDF()">PDF</button>
            <button (click)="onImage()">Image</button>
        </div>
        <div class="documents">
            <div class="custom-select">
                <div>
                    <select class="language-select" (change)="onDocTypeSelected($event)">
                        <option value="">Тип документа</option>
                        <option value="id" >Удостоверение Личности</option>
                        <option value="drivers_license" >Водительские Права</option>
                        <option value="passport" >Загранпаспорт</option>
                        <option value="sat" >Сертификат ЕНТ</option>
                    </select>                
                </div>
                <div class="file-details">
                    <div class="file-input-container">
                        <input type="file" id="fileInput" class="file-input" accept="{{accept}}" (change)="onFileSelected($event)">
                        <label for="fileInput" class="custom-file-input">Выберите файл</label>
                        <p><button class="Upload" (click)="onUpload()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="s-icon s-icon-icon-send" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15.328 1.294a.798.798 0 0 0-.034-.174c-.006-.02-.013-.046-.026-.066A.65.65 0 0 0 15.14.86a.648.648 0 0 0-.267-.153.567.567 0 0 0-.146-.027.338.338 0 0 0-.087-.013.478.478 0 0 0-.193.04h-.007c-.013.007-.02.007-.033.013L1.114 5.374a.66.66 0 0 0-.446.6.658.658 0 0 0 .393.633l5.78 2.567 2.56 5.766c.107.247.36.407.633.394a.668.668 0 0 0 .6-.447l4.667-13.333a.743.743 0 0 0 .033-.207c0-.02-.006-.04-.006-.053ZM12.12 2.94 7.188 7.874l-4.047-1.8 8.98-3.134Zm-2.187 9.927L8.128 8.814l4.96-4.96-3.154 9.013Z"/>
                            </svg>
                        </button></p>
                    </div>
                </div>
            </div>
            <div class="rulls">
                <h2>Необходимо:</h2>
                <p><b>1.</b> Выбрать формат файла - <span *ngIf="!accept">❌</span> <span *ngIf="accept">{{accept}} ✅</span></p>
                <p><b>2.</b> Выбрать тип документа - <span *ngIf="!selectedValue">❌</span> <span *ngIf="selectedValue">{{selectedValue}} ✅</span></p>
                <p><b>3.</b> Выбрать нужный вам файл - <span *ngIf="!selectedFile">❌</span><span *ngIf="selectedFile">{{selectedFile.name}} ✅</span></p>
            </div>
                <div class="success-message" *ngIf="false">
                    <img src="../assets/tick.png" alt="">
                    <h3>Проверка завершена успешно!</h3>
                    <p>Ваш документ успешно прошел проверку на подлинность и действительность срока годности. Мы рады сообщить, что все параметры соответствуют необходимым стандартам. Вы можете быть уверены в законности и актуальности вашего документа. Спасибо за доверие к нашему сервису!</p>
                </div>
                <div class="error-message" *ngIf="uploadError">
                    <img src="../assets/rejected.png" alt=""> 
                    <h3>Отправлен пустой файл:</h3>
                    <p>Мы заметили, что вы отправили пустое сообщение и не выбрали никакой файл для проверки. Выберите документ/изображение</p>
                </div>
                <div class="expired" *ngIf="false">
                    <img src="../assets/expired.png" alt=""> 
                    <h3>Срок действия вашего документа истек!</h3>
                    <p>Мы обнаружили, что срок действия предоставленного вами документа истек. Это означает, что документ больше не может быть использован в официальных целях. Мы настоятельно рекомендуем вам обновить этот документ в соответствующих органах как можно скорее</p>
                </div>
        </div>
    </div>
</div>



<div *ngIf="selectedLanguage === 'en'">
    <div class="container">
        <div class="document-upload">
            <h1>Do you want to check the authenticity of the document?</h1>
            <p>Select the format:</p>
            <button (click)="onPDF()">PDF</button>
            <button (click)="onImage()">Image</button>
        </div>
        <div class="documents">
            <div class="custom-select">
                <div>
                    <select class="language-select" (change)="onDocTypeSelected($event)">
                        <option value="">Document type</option>
                        <option value="id" >Identification card</option>
                        <option value="drivers_license" >Driver's license</option>
                        <option value="passport" >International passport</option>
                        <option value="sat" >UNT Certificate</option>
                    </select>                
                </div>
                <div class="file-details">
                    <div class="file-input-container">
                        <input type="file" id="fileInput" class="file-input" accept="{{accept}}" (change)="onFileSelected($event)">
                        <label for="fileInput" class="custom-file-input">Select a file</label>
                        <p><button class="Upload" (click)="onUpload()" id = "upload-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="s-icon s-icon-icon-send" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15.328 1.294a.798.798 0 0 0-.034-.174c-.006-.02-.013-.046-.026-.066A.65.65 0 0 0 15.14.86a.648.648 0 0 0-.267-.153.567.567 0 0 0-.146-.027.338.338 0 0 0-.087-.013.478.478 0 0 0-.193.04h-.007c-.013.007-.02.007-.033.013L1.114 5.374a.66.66 0 0 0-.446.6.658.658 0 0 0 .393.633l5.78 2.567 2.56 5.766c.107.247.36.407.633.394a.668.668 0 0 0 .6-.447l4.667-13.333a.743.743 0 0 0 .033-.207c0-.02-.006-.04-.006-.053ZM12.12 2.94 7.188 7.874l-4.047-1.8 8.98-3.134Zm-2.187 9.927L8.128 8.814l4.96-4.96-3.154 9.013Z"/>
                            </svg>
                        </button></p>
                    </div>
                </div>
            </div>
            <div class="rulls">
                <h2>Necessary:</h2>
                <p><b>1.</b> Choose a file format - <span *ngIf="!accept">❌</span> <span *ngIf="accept">{{accept}} ✅</span></p>
                <p><b>2.</b> Choose the document type - <span *ngIf="!selectedValue">❌</span> <span *ngIf="selectedValue">{{selectedValue}} ✅</span></p>
                <p><b>3.</b> Select the file you need - <span *ngIf="!selectedFile">❌</span><span *ngIf="selectedFile">{{selectedFile.name}} ✅</span></p>
            </div>
                <div class="success-message" *ngIf="false">
                    <img src="../assets/tick.png" alt="">
                    <h3>Verification completed successfully!</h3>
                    <p>Your document has been successfully verified for authenticity and validity of the expiration date. We are pleased to inform you that all parameters meet the required standards. You can be sure of the legality and relevance of your document. Thank you for trusting our service!</p>
                </div>
                <div class="error-message" *ngIf="uploadError">
                    <img src="../assets/rejected.png" alt=""> 
                    <h3>An empty file was sent:</h3>
                    <p> We noticed that you sent an empty message and did not select any file to check. Select a document/image.</p>
                </div>
                <div class="expired" *ngIf="false">
                    <img src="../assets/expired.png" alt=""> 
                    <h3>Your document has expired!</h3>
                    <p>We have discovered that the document you provided has expired. This means that the document can no longer be used for official purposes. We strongly recommend that you update this document with the relevant authorities as soon as possible</p>
                </div>
        </div>
    </div>
</div>

<div *ngIf="selectedLanguage === 'kz'">
    <div class="container">
        <div class="document-upload">
            <h1>Құжаттың түпнұсқалығын тексергіңіз келе ме?</h1>
            <p>Құжат форматын таңдаңыз:</p>
            <button (click)="onPDF()">PDF</button>
            <button (click)="onImage()">Image</button>
        </div>
        <div class="documents">
            <div class="custom-select">
                <div>
                    <select class="language-select" (change)="onDocTypeSelected($event)">
                        <option value="">Құжат түрі</option>
                        <option value="id" >Жеке Куәлік</option>
                        <option value="drivers_license" >Жүргізуші Куәлігі</option>
                        <option value="passport" >Төлқұжат</option>
                        <option value="sat" >ҰБТ сертификаты</option>
                    </select>                
                </div>
                <div class="file-details">
                    <div class="file-input-container">
                        <input type="file" id="fileInput" class="file-input" accept="{{accept}}" (change)="onFileSelected($event)">
                        <label for="fileInput" class="custom-file-input">Құжатты таңдаңыз</label>
                        <p><button class="Upload" (click)="onUpload()" id = "upload-btn2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="s-icon s-icon-icon-send" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15.328 1.294a.798.798 0 0 0-.034-.174c-.006-.02-.013-.046-.026-.066A.65.65 0 0 0 15.14.86a.648.648 0 0 0-.267-.153.567.567 0 0 0-.146-.027.338.338 0 0 0-.087-.013.478.478 0 0 0-.193.04h-.007c-.013.007-.02.007-.033.013L1.114 5.374a.66.66 0 0 0-.446.6.658.658 0 0 0 .393.633l5.78 2.567 2.56 5.766c.107.247.36.407.633.394a.668.668 0 0 0 .6-.447l4.667-13.333a.743.743 0 0 0 .033-.207c0-.02-.006-.04-.006-.053ZM12.12 2.94 7.188 7.874l-4.047-1.8 8.98-3.134Zm-2.187 9.927L8.128 8.814l4.96-4.96-3.154 9.013Z"/>
                            </svg>
                        </button></p>
                    </div>
                </div>
            </div>
            <div class="rulls">
                <h2>Қажет:</h2>
                <p><b>1.</b>Құжат форматын таңдау - <span *ngIf="!accept">❌</span> <span *ngIf="accept">{{accept}} ✅</span></p>
                <p><b>2.</b>Құжат түрін таңдау - <span *ngIf="!selectedValue">❌</span> <span *ngIf="selectedValue">{{selectedValue}} ✅</span></p>
                <p><b>3.</b>Қажетті құжатты таңдау - <span *ngIf="!selectedFile">❌</span><span *ngIf="selectedFile">{{selectedFile.name}} ✅</span></p>
            </div>
                <div class="success-message" *ngIf="false">
                    <img src="../assets/tick.png" alt="">
                    <h3>Тексеру сәтті аяқталды!</h3>
                    <p>Сіздің құжатыңыз жарамдылық мерзімі мен жарамдылығын тексеруден сәтті өтті. Біз барлық параметрлер қажетті стандарттарға сәйкес келетінін хабарлауға қуаныштымыз. Сіз құжаттың заңдылығы мен өзектілігіне сенімді бола аласыз. Біздің қызметке сенгеніңіз үшін рахмет!</p>
                </div>
                <div class="error-message" *ngIf="uploadError">
                    <img src="../assets/rejected.png" alt=""> 
                    <h3>Бос файл жіберілді:</h3>
                    <p> біз сіз бос хабарлама жібергеніңізді және тексеру үшін бірде-бір файлды таңдамағаныңызды байқадық. Құжат/суретті таңдаңыз.</p>
                </div>
                <div class="expired" *ngIf="false">
                    <img src="../assets/expired.png" alt=""> 
                    <h3>Сіздің құжатыңыздың мерзімі аяқталды!</h3>
                    <p>Біз сіз берген құжаттың мерзімі аяқталғанын анықтадық. Бұл құжатты енді ресми мақсатта пайдалану мүмкін емес дегенді білдіреді. Бұл құжатты мүмкіндігінше тезірек тиісті органдарда жаңартуды ұсынамыз</p>
                </div>
        </div>
    </div>
</div>